    .sidebar{
        position: fixed;
        background-color: #222;
        height: 100%;
        width: 15%;
        font-size: 20px;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    li a{
      text-decoration: none;
      color:white; 
      margin: 2px;
    }
    li{
        border-bottom: 1px white solid;
        padding-left: 25%;
        padding-top: 10px;
    }
    a:hover {
        text-decoration: none;
    }
    li:hover{
        background-color: orange;
    }